:markdown
  Hello! I'm Pablo Merino, a **backend hacker**. I'm currently based out on Spain, with occasional visits to the United States. 
                  
  I mostly code in **Ruby**, closely followed by **Objective-C**. I also have experience with **Node.js**. I can do frontend development **only and exclusively** if it's needed. I suck at it anyways.
                  
  This page's design is ripped off Google Chrome's new error pages. I know.
