%p#subheading See the value of a Bitcoin according to different sources with a simple JSON API.
%p All major currencies are supported (USD, EUR, GBP, CAD, JPY, CNY etc.)

%h2 API Endpoints

:markdown
  - `GET /price/:currency` to get the plain text conversion for a currency
  - `GET /all/:currency` to get all the conversion rates in all sources for a currency
  - `GET /:ticker/:currency` to get the conversion rates in a source (see next section for available providers) for a currency
  - `GET /average/:currency` to get an average price based on all the providers for a currency
  
%h2 Currently available providers
:markdown
  - [BlockChain](http://blockchain.info) (`blockchain`)
  - [MtGox](http://mtgox.com) (`mtgox`)
  - [Bitcoin Charts](http://bitcoincharts.com) (`btccharts`)
  - [Coinbase](https://coinbase.com) (`coinbase`)
  
%h2 Graphs (Data from Blockchain)

%h3 BTCs in circulation
%canvas#circulation-chart{:width=>"970", :height=>"400", :"data-circulation" => btc_in_circulation.to_json, :"data-circulation-dates" => btc_in_circulation(true).to_json}

%h3 Market Price (USD)
%canvas#market-price-chart{:width=>"970", :height=>"400", :"data-market-price" => market_price.to_json, :"data-market-price-dates" => market_price(true).to_json}

%h3 Number of transactions
%canvas#transactions-chart{:width=>"970", :height=>"400", :"data-transactions" => number_of_transactions.to_json, :"data-transactions-dates" => number_of_transactions(true).to_json}

