!!!
%html
  %head
    %title="BTC Ticker"
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    
    %script{:src=>"https://rawgithub.com/nnnick/Chart.js/master/Chart.min.js"}
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{:src=>"/graph.js"}
    
    
  %body
    .container
      %h1 Bitcointy, a simple BTC ticker
      = yield