!!!
%html
  %head
    %title="Bitcointy"
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    
    %script{:src=>"/Chart.min.js"}
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{:src=>"/graph.js"}
    
  %body
    #container
      #inside
        %h1 Bitcointy
        %h2#price="1 BTC = Loading..."
        .clearfix
        
        = yield
        %hr
        %p
          Proudly made by
          %a{:href => "http://pmerino.me", :target => '_blank'} Pablo Merino.
          Site design by
          %a{:href => "http://sebj.me", :target => '_blank'} Seb Jachec.
          