body {
  background-color: #E6E6E6;
  font-family: Helvetica, Arial, sans-serif;
  margin: 50px 40px 20px 40px;
}

.container {
  margin: auto;
  width: 900px;
}


* {
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
